# Specify packages with new lines, please check for spelling!
obs-studio
papirus-icon-theme
xournalpp-git
xclip
copyq
syncthing
isync
simple-scan
octave
davmail
git-credential-keepassxc
mu
platformio
plexamp-appimage
latte-dock-git
